.btn_active {
  cursor: pointer;
  color: rgb(136, 137, 141);
  text-decoration: none;
  height: 1.5rem;
}

.btn_active :hover {
color: rgb(100, 101, 104);
}

.btn_active :active {
  color: rgb(5, 255, 47);
}
